.DS_Store
.idea
.ignore/
.vscode/*
.history/
bower_components/
node_modules/
**/node_modules/
package-lock.json
src/fullpage.extensions.js
src/js-extensions/**
src/js-limited/**
src/css-limited/**
src/js/mixed/index.js
dist/fullpage.extensions.js
dist/fullpage.limited.js
dist/fullpage.limited.min.js
dist/fullpage.limited.min.css
examples/bug**
gulp/secret.js
build/**
local/**
rollup.ext.config.js
rollup.limited.config.js