h1{
	font-size: 5em;	
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}
.section{
	text-align:center;
}

/* Menu
 * --------------------------------------- */
ul li{
	display:inline-block;
	padding: 20px;
	color: #ccc;
}
ul li.active{
   color: #000;
}
ul{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	background: #fff;
	z-index: 9999;
	width: 100%;
	padding: 0;
	margin:0;
}
	
/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

/* Sections
 * --------------------------------------- */
 #section0,
 #section1,
 #section2,
 #section3{
	background-size: cover;
 }
 #section0{
	background-image: url(imgs/bg1.jpg);
	padding: 30% 0 0 0;
 }
 
 /*Creatin a ull height slide */
 .slides{
	height: 100%;
	display:block;
 }
 #slide1{
	background-image: url(imgs/bg2.jpg);
	padding: 6% 0 0 0;
	height: 100%;
	display:block;
 }
 #slide2{
 	background-image: url(imgs/bg5.jpg);
	padding: 6% 0 0 0;
	height: 100%;
 }
 #section2{
	background-image: url(imgs/bg3.jpg);
	padding: 6% 0 0 0;
 }
 #section3{
	background-image: url(imgs/bg4.jpg);
	padding: 6% 0 0 0;
 }
 #section3 h1{
 	color:#000;
}